@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html,body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    display:flex;
}
header{
    border:1px solid grey;
    height: 163vh;
}
nav h1{
    font-size:20px;
    font-weight:500;
    padding:10px;
    border-bottom:1px solid grey;
}
nav ul{
    list-style: none;
}
nav ul li{
    border-bottom:1px solid grey;
    padding:10px;
    color:black;

}
nav ul li:hover{
    background:darkslategrey;
    color: white;
    transition:0.3s ease-in-out;
}
main{
    padding:50px;
    max-width: 1200px;
}
section{
    margin-bottom:25px;
}
section article{
    display:flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 200;
    gap:10px;
    text-align: justify;
}
section article ul li{
    margin-left: 30px;
    margin-bottom: 10px;
}
section h2{
    padding: 10px;
    border-bottom:1px solid grey;
    margin-bottom:10px;
    font-size: 20px;
    font-weight: 400;
}
code{
    white-space:pre-line;
    background:slategray;
    line-height: 2;
    padding:15px;
    margin:10px;
    border-radius: 5px;
}